.App {
  background: no-repeat center/100% url("/airport.jpeg");
  height: 100vh;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Share:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
